body { background-color: rgb(18, 18, 18);
align-items: center;
flex-direction: column;
display: flex;
padding-top: 96px;
}

.cor{color: white; 
font-weight: 150;}

#email { background-color: rgb(12, 12, 12); 
    border: 1px rgb(129, 129, 129) solid;
    width: 300px;
    padding-top: 30px;
    border-radius: 5px;
    
}
.botão{ 
    color: black;
    border-radius: 30px;
    height: 47px;
    width: 350px;
    background-color: #1ed760;
    border: #1ed760 1px solid;
    font-size: 15px;
    
}
.outros_modos { background-color: black;
border: 1px rgb(129, 129, 129) solid;
    height: 50px;
    width: 290px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: 650;

}
.letra{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 750;
}

button{
    font-weight:700;
}
.continuar:hover{ 
background-color: #38f77b;
border: #38f77b 1px solid;
width: 352px;
height: 51px;
}
.modos:hover{ 

 background-color: black;
border: 1.5px rgb(187, 187, 187) solid;
    height: 50px;
    width: 290px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: 660;

}
