body{ margin: 0;}

.div1{

flex-direction: row;
display: flex;
flex: 1;
}

.div2{ 
flex-direction: column;
display: flex;
padding: 100vh;
}
.pesquisas{ padding-left: 20px;

padding-top: 30px;}

.esp{ color: #1a9fff;}