 body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Arial, sans-serif;
            gap: 20px;
            padding: 20px;

            background: linear-gradient(-45deg, #3f1a1a, #2c2c2c, #1a3f3f, #000000);
            background-size: 400% 400%;
            animation: fundoAnimado 8s ease infinite;
        }

        @keyframes fundoAnimado {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        button {
            width: 150px;
            height: 40px;
            border-radius: 15px;
            border: 0px;
            background-color: #f0ffff;
            box-shadow: 5px;
            box-shadow: 2px 3px;
            gap: 15px;


        }

        button:hover {
            transform: scale(1.05);
            background-color: rgb(217, 236, 236);
            box-shadow: 3px 4px;
        }

        .linha {
            display: flex;
            gap: 50px;
        }

        h3 {
            color: #ffffff;
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;

            background: rgba(255, 255, 255, 0.1);
            padding: 8px 15px;
            border-radius: 10px;

            backdrop-filter: blur(5px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

            margin-right: 10px;
        }